:root {
    --white: #ecf0f1;
    --gray: #d1d8e0;
    --black: #333;
  }

  html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    background: var(--gray);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: var(--black);
    padding-bottom: 5px;
    border-bottom: solid 2px var(--black);
}

button {
    margin-bottom: 10px;
}

#container {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 960px;
    height: 640px;
    background-color: var(--white);
    margin-top: 10px;
}

.box {
    width: 30px;
    height: 20px;
}

.active {
    background-color:  var(--black);
}
