:root {
    --white: #ecf0f1;
    --blue: #4b6584;
    --gray: #d1d8e0;
    --black: #333;
  }

  html {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    background: var(--gray);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: var(--black);
    padding-bottom: 5px;
    border-bottom: solid 2px var(--black);
}

button {
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    width: 512px;
    height: 512px;
    background-color: var(--white);
}

.box {
    width: 16px;
    height: 16px;
    /* border: solid 1px var(--black); */
    
}

.active {
    background-color:  var(--black);
}

